html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(219, 201, 152);
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    margin-top: 20px;
}

footer a {
    padding: 20px;
}

.column-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.menu-restaurante {
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
}

hr {
    background: #800000;
    height: 3px;
    width: 40px;
    border: none;
}

.precio-menu {
    font-weight: bold;
}

.precio-menu span {
    font-size: 2rem;
    color: #800000;
}

.en {
    color: #800000;
}

.es {
    color: #F5B21D;
}

.check {
    position: relative;
    width: 50px;
}

.check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #F5B21D;
    border-radius: 25px;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #F5B21D;
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid #800000;
}

.check:checked:before {

    background: #800000;
}

@media (max-width :768px) {
    /* Cuando tenga 768px o menos se aplica*/

    .columns {
        grid-template-columns: repeat(2, 1fr);
        /* Aca tendra un diseño de 2 columnas*/
    }

}

@media (max-width :460px) {
    /* Cuando tenga 460px o menos se aplica*/

    .columns {
        grid-template-columns: repeat(1, 1fr);
        /* Aca tendra un diseño de 1 columnas*/
    }

}
