
footer {
    background-color: #619de7;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: rgba(152, 0, 4, 0.6);
    
}

header {
    background-color: #619de7;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

main{
    margin-left: 10%;
    justify-content: center;
}

h3{
    color: #619de7;
}

@media screen and (max-width: 600px) {
    .header {
        min-height: 300px;
        background-position: center;
    }

    footer {
        position: static;
        margin-top: 20px;
    }

    .main {
        width: 100%;
        padding: 20px;
        float: none;
        box-sizing: border-box;
    }
}
