@import "../CSS/Nav.css";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    background-image: url(../Img/PruebaHeader.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    justify-content: center;
    opacity: 1;

}


body {
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #D9B07E !important;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {
    font-size: 55px !important;
    color: rgb(255, 255, 255) !important;
    text-align: center !important;

}

 
h3 {
    font-size: 40px;
    color: #592F20!important;
    text-align: center !important;
}

.HeaderDesc {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.iconoheader {
    width: 40px;
    display: inline-table;
    vertical-align: top;
    margin: 15px;
}

.logo-container {
    /* Logo de Carrito y Usuario */
    display: flex;
    margin-right: 20px;
    float: right;
    opacity: 1;
}


main {
    background-color: bisque;
    width: 80%;
    margin: 0 auto;

}

button{
    background-color: transparent
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  /* Estilos para las celdas de encabezado */
  th {
    background-color: #fff;
  }



.footer {
    background-color: #592F20;
    color: #fff;
    padding: 20px;
    height: auto;
    bottom: 0;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;

}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    max-width: 300px;
}

@media screen and (max-width: 768px) {
    table {
        overflow-x: auto;
        display: block;
        flex-wrap: nowrap;
    }
    th, td {
        min-width: 100px;
    }
    header {
        height: 200px;
    }
    
    h1 {
        font-size: 40px !important;
    }

    h3 {
        font-size: 30px;
    }

    .HeaderDesc {
        font-size: 20px;
    }

    .iconoheader {
        width: 30px;
    }

    .logo-container {
        margin-right: 10px;
    }

    main {
        width: 90%;
    }

    .footer {
        flex-direction: column; /* Colocar los elementos del footer uno encima del otro en pantallas peque침as */
        align-items: center; /* Centrar los elementos del footer */
    }

    .footer-section {
        width: 100%; /* Ajustar el ancho de las secciones del footer al 100% en pantallas peque침as */
        max-width: none; /* Quitar el m치ximo ancho en pantallas peque침as */
    }
}
