@import "../CSS/Nav.css";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    background-image: url(../Img/Headers/PruebaHeader.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    justify-content: center;
    opacity: 1;

}


body {
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #D9B07E !important;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 30px !important;
    color: #fff !important;
}



h1 {
    font-size: 55px !important;
    color: rgb(255, 255, 255) !important;
    text-align: center !important;

}

.HeaderDesc {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.iconoheader {
    width: 40px;
    display: inline-table;
    vertical-align: top;
    margin: 15px;
}

.logo-container {
    /* Logo de Carrito y Usuario */
    display: flex;
    margin-right: 20px;
    float: right;
    opacity: 1;
}
.form-register {
    width: 700px;
    background-color: #592F20;
    padding: 30px;
    margin-top: 30px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    
     
}

#registro{
    display: flex;
}

.controls {
    width: 100%;
    background-color: bisque;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid bisque;
    font-size: 19px;
   

}

.form-register p {
    height: 40px;
    font-size: 19px;
    display: flex;
    color: #fff;
}

.form-register .botons {

    width: 100%;
    border: none;
    padding: 12px;
    margin: 15px 0;
    font-size: 19px;

}

button{
    background-color: transparent
}



main {
    background-color: bisque;
    width: 80%;
    margin: 0 auto;

}

#mapa {
    border: solid 2px;
   display: flex;
    height: 500px;
    width: 480px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 25px;
    float: right;
}

p {
    color: #fff;
    text-align: center;
}

#registro {
    margin: auto !important;
}





.footer {
    background-color: #592F20;
    color: #fff;
    padding: 20px;
    height: auto;
    bottom: 0;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;

}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    max-width: 300px;
}